<h1>Mon profil</h1>

<h2>Salut beau gosse !</h2>
<ul>
    <li>Prénom :  <%= current_user.first_name %></li>
    <li>Nom :  <%= current_user.last_name %></li>
    <li>Description : <%= current_user.description %></li>
    <li>Email : <%= current_user.email %></li>
</ul>
