<div class="banner-image" style="padding:15px; text-align:center;">
    <% if user_signed_in? %>
      <h1>Bienvenue <%= current_user.first_name %> !</h1>
    <% end %>
    <h2>Des évènements d'exceptions organisé par des personnes d'exceptions</h2>
    <a href="https://motherfuckingwebsite.com/" class="btn btn-primary">CLICK</a>
</div>