<footer id="footer">
  <div class="footer">
      <p class="float-end"><a href="#top">Back to top</a></p>
      <p><a href="https://blog.bootswatch.com/">Blog</a></p>
      <p><a href="https://blog.bootswatch.com/rss/">RSS</a></p>
      <p><a href="https://twitter.com/bootswatch">Twitter</a></p>
      <p><a href="https://github.com/joffrey7486/mol-cules_et_organismes_thp">GitHub</a></p>
      <p><a href="../help/#api">API</a></p>
      <p><a href="../help/#donate">Donate</a></p>
      <p>Made by <a href="https://github.com/joffrey7486">Joffrey Caugnon</a>.</p>
      <p>Code released under the MIT License.</p>
      <p>Based on <a href="https://getbootstrap.com/" rel="nofollow">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
  </div>
</footer>